@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {

}

#screen{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 1280px;
  border: 1px solid rgb(231, 231, 231);;
}

#screen .search{
  
  margin: 25px;
  
}


#screen .search input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#screen .search .results .result{
  padding: 10px;
  font-size: 21px;
}

#screen .search .results .result a{
  text-decoration: none;
  color: black;
}

#screen .search .results .result:hover{
  background-color: rgb(231, 231, 231);
}

.location {
  margin: 16px;
  padding: 16px;
  border: 1px solid rgb(231, 231, 231);
}

.location a {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.location img {
  width: 480px;
}

.location h1 {
  width: 480px;
  text-align: center;
}

.locationStat h1{
  width: 85%;
  font-size: 54px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.locationStat img{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.locationStat p{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}



